<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- CSS archive -->
    <link href="./style.css" rel="stylesheet" type="text/css">
    <link href="./Libros.css" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" href="src/logo9.png">
    
  </head>
  <body>
      
    <div id="app" class="container-fluid">
      <!-- contacto 
      <div class="iconos col-12">
        <a href="mailto:isaacnavajaspozo@gmail.com">
          <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-envelope mensaje" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
          </svg>
        </a>  
      </div> -->
      <!-- logo --> 
      <cajas></cajas>
        <center>
          <img src="./src/logo 10.png" alt="logo" class="logo" draggable="false">
        </center>
        <cajas></cajas>
        <h1  class="titulo">isaacnavajaspozo.com</h1>
        

       <!-- cajas de diplomaturas --> 
       <div class="separador"></div>
       <button type="submit" class="button btn btn-secondary col-12" @click="show = !show">Ver diplomaturas</button> <!-- quitar en ordenador y poner en mobil y quitar el texto en mobil -->
       <p class="subtitulo col-12">Presiona cntrl + click izquierdo para ver/descargar las diplomaturas.</p>

        
        <div class="col-12 col-sm-12 col-md-4 caja " v-for="d in diplomaturas" :key="d.id">
          <div class="cajaunica">
            <img :src="d.imagen" class="imagenFondo" alt="imagen de fondo" @click.ctrl="show = !show" draggable="false"
            oncontextmenu="return false"
            >
            <div>
              
              <p class="texto">
                  {{ d.titulo.toUpperCase() }}
              </p> 

              <p class="descripcion">
                {{ d.descripcion }}
            </p> 
            
      
      <!-- diplomas --> 
            <transition name="fade" >
              <div v-if="show" class="col-12 cajanegra" @click.ctrl="show = !show" >
                
                <div class="row">
                  <p class="col-12 titulosinckick">{{d.titulo.toUpperCase()}}</p>
                </div>
                <div class="row">
                  <p class="col-6 titulockick">TITULO</p>
                  <p class="col-3 titulockick">FINALIZA</p>
                  <p class="col-3 titulockick">HORAS</p>
                </div>
                <div class="row" v-for="b in d.diplomas" :key="b.titulo">
                  <!-- platzi carreras --> 
                  <div v-if="b.separador">
                    <div  class="titulosinckick"> {{b.tituloseparador.toUpperCase()}} </div>
                      <div class="row">
                        <p class="col-6 titulockick">TITULO</p>
                        <p class="col-3 titulockick">FINALIZA</p>
                        <p class="col-3 titulockick">HORAS</p>
                        
                      </div>
                    </div>

                  <a v-if="!b.href" class="col-6 resultadockick" :href="b.href" target="_blank" download>
                    <!-- si no tienen href que no tengan vinculo de descarga --> 
                      <div v-if="!b.href" class="cambioresultadockick"> {{count + b.id}} - {{b.titulo}}</div>
                  </a>
                  <a v-if="b.href" class="col-6 resultadockick" :href="b.href" target="_blank" download>{{count + b.id}} - {{b.titulo}}</a>
                  <p class="col-3 resultadockick">{{b.fecha}}</p>
                  <p class="col-3 resultadockick">{{b.horas}}</p>
                </div>
                
                
              </div>
            </transition>

            </div>

          </ul>
          
        
        </div>

        



    
    <!-- CDN Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Archive JS -->
    <script src="./app.js"></script>
    <script src="./cajas.js"></script>
    <script src="./logicaLibros.js"></script>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    
  </body>
</html>